{% extends 'base.html' %}

{% block header %}
    <h1> {% block title %}Se connecter {% endblock %}</h1>
{% endblock %}

{% block content1 %}
    <form method="post">
        <label for="username">Identifiant</label>
        <input name="username" id="username" required>
        <label for="password">Mot de passe</label>
        <input name="pwd" id="pwd" required>
        <input type="submit" value="Connexion">
    </form>
{% endblock %}
