<!doctype html>
<title> {% block title %}{% endblock %} Application Rh</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>Application RH</h1>
    <ul>
        {% if g.user %}

            <li><span>Bienvenue : {{ g.user['username'] }}</span>
            <li><a href="{{ url_for('auth.logout') }}">Déconnexion</a>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">S'inscrire</a>
            <li><a href="{{ url_for('auth.login') }}">Se connecter</a>
        {% endif %}
    </ul>
</nav>
<section class="content">
    {% if g.user %}
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    <!-- Block register or login-->

        {% block content %}{% endblock %}
    {% else %}
        {% block content1 %}{% endblock %}
    {% endif %}

</section>