{% extends 'base.html' %}

{% block header %}
    <h1> {% block title %}Ajouter une fiche de poste d'un employé{% endblock %}</h1>
{% endblock %}

{% block content %}
    <header>
        <form method="post">
            <label for="nam">Nom</label>
            <input name="nam" id="nam" value="{{ request.form['nam'] }}" required>
            <label for="surname">Prénom</label>
            <input name="surname" id="surname" value="{{ request.form['surname'] }}" required>
            <label for="job">Poste occupé</label>
            <input name="job" id="job" value="{{ request.form['job'] }}" required>
            <label for="created_date">Date d'ajout</label>
            <input name="created_date" id="created_date" value="{{ request.form['created_date'] }}">
            <label for="skill">Compétences</label>
            <input name="skill" id="skill" value="{{ request.form['skill'] }}">
            <label for="experience">Expériences</label>
            <input name="experience" id="experience" value="{{ request.form['experience'] }}">
            <label for="formation">Formation</label>
            <input name="formation" id="formation" value="{{ request.form['formation'] }}">
            <label for="seniority">Ancienneté(s)</label>
            <input name="seniority" id="seniority" value="{{ request.form['seniority'] }}">
            <label>Informations complémentaires</label>
            <textarea name="body" id="body">{{ request.form['body'] }}</textarea> 
            <input type="submit" value="Sauvegarder">
        </form>
    </header>
{% endblock %}