{% extends 'base.html' %}

{% block header %}
    <h1> {% block title %}Gestion des employées{% endblock %}</h1>
    {% if g.user %}
    <a class="action" href="{{ url_for('gestion_rh.create') }}"> Ajouter un(e) employé(e)</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for employee_file in profil_posts %}
    <header>
        <div>
            FICHE DE POSTE
        </div>
        <div>
            <label>Nom :</label>
            <h4>{{ employee_file['nam'] }}</h4>
            <label>Prénom :</label>
            <h4>{{ employee_file['surname'] }}</h4>
            <label>Poste occupé :</label>
            <h4>{{ employee_file['job'] }}</h4>
            <label>Responsable d'enregistrement :</label>
            <h4>{{ employee_file['author_id']}}</h4>
            <label>Date de début du contrat :</label>
            <h4>{{ employee_file['created_date'] }}</h4>
            <label>Compétences :</label>
            <h4>{{ employee_file['skill'] }}</h4>
            <label>Expériences :</label>
            <h4>{{ employee_file['experience'] }}</h4>
            <label>Formations :</label>
            <h4>{{ employee_file['formation'] }}</h4>
            <label>Anciennetée(s) :</label>
            <h4>{{ employee_file['seniority'] }}</h4>
            <label>Informations complémentaires :</label>
            <p class="body">{{ employee_file['body'] }}</p>
            <a class="action" href="{{ url_for('gestion_rh.update', id_employee=employee_file['id_employee']) }}">Modifier la fiche de poste</a>
        </div>
    </header>

    {% endfor %}
{% endblock %}