{% extends 'base.html' %}

{% block header %}
    <h1> {% block title %}Edition de la fiche de poste de {{ employee_file['surname'] }} {{ employee_file['nam'] }} {% endblock %}</h1>
{% endblock %}

{% block content %}
    <header>
        <form method="post">
            <label for="nam">Nom</label>
            <input name="nam" id="nam" value="{{ request.form['nam'] or employee_file['nam'] }}" required>
            <label for="surname">Prénom</label>
            <input name="surname" id="surname" value="{{ request.form['surname'] or employee_file['surname']}}" required>
            <label for="job">Poste occupé</label>
            <input name="job" id="job" value="{{ request.form['job'] or employee_file['job']}}" required>
            <label for="created_date">Date début de contrat</label>
            <input name="created_date" id="created_date" value="{{ request.form['created_date'] or employee_file['created_date'] }}">
            <label for="skill">Compétences</label>
            <textarea name="skill" id="skill">{{ request.form['skill'] or employee_file['skill'] }}</textarea> 
            <label for="experience">Expériences</label>
            <textarea name="experience" id="experience">{{ request.form['experience'] or employee_file['experience'] }}</textarea> 
            <label for="formation">Formations</label>
            <textarea name="formation" id="formation">{{ request.form['formation'] or employee_file['formation'] }}</textarea> 
            <label for="seniority">Ancienneté(s)</label>
            <input name="seniority" id="seniority" value="{{ request.form['seniority'] or employee_file['seniority'] }}">
            <label>Informations complémentaires</label>
            <textarea name="body" id="body">{{ request.form['body'] or employee_file['body'] }}</textarea> 
            <input type="submit" value="Sauvegarder">
        </form>
        <form action="{{ url_for('gestion_rh.delete', id_employee=employee_file['id_employee']) }}" method="post">
            <input class="danger" type="submit" value="Delete" onclick="return confirm('Êtes vous sûr de vouloir supprimer la fiche de poste ?');">
        </form>
    </header>
{% endblock %}